[project]
name = "cleanstack"
version = "0.10.0"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.128",
]

[dependency-groups]
dev = [
    "httpx>=0.28",
    "mypy>=1.19",
    "pre-commit>=4.5",
    "pytest>=9.0",
    "ruff>=0.15",
    "ty>=0.0",
]

[tool.ruff]
output-format = "concise"
[tool.ruff.lint]
select = [
    "E", "W", # pycodestyle
    "F", # Pyflakes
    "UP", # pyupgrade
    "B", # flake8-bugbear
    "SIM", # flake8-simplify
    "I", # isort
    "PL", # Pylint
    "RUF",
]

[tool.ty.terminal]
output-format = "concise"

[tool.mypy]
strict = true

[tool.pytest.ini_options]
testpaths = ["tests"]
log_cli = true
log_cli_format = "%(asctime)s [%(levelname)8s] %(name)30s - %(message)s"
